.venv/
__pycache__/
*.pyc
.env
reports/allure/results/
reports/allure/report/
reports/screenshots/*
reports/videos/*
reports/traces/*
reports/junit/*
reports/extent/*
reports/custom/*
logs/*
.pytest_cache/
.idea/
.vscode/
*.log
src/qaforge/api/grpc/generated/*.py
!src/qaforge/api/grpc/generated/__init__.py
